/*top blue portion*/
.bg-blue {
  background: #3079AB;
  color: white;
}

.wrap{
    padding: 35px 0px 10px 0px;
}

.wrap div{
    font-size: 20px;
}

.one h3{
    font-size: 20px;
    font-weight: 400;
}

p{
    font-size: 14px;
    padding-bottom: 30px;
}

.two h3{
    font-size: 20px;
    font-weight: 400;
}

/*bottom white portion*/
.card-white {
  background: white;
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 50px;
}

.cards{
    padding: 15px 0px 10px 0px;
}

.cards div{
    font-size: 20px;
}

.card-white h3{
    font-size: 20px;
    font-weight: 400;
}

.bg-grey {
  background:#eeeff1;
  /*color: white;*/
}

.grey{
    color: #44465a;
}

I'm done
